<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/<%= bookmarks.id %>?_method=PUT" method="post">
        <input id="edit-textbox-url" type="text" name="url">
        <input id="edit-textbox-comment" type="text" name="comment">
        <input id="edit-textbox-tags" type="text" name="tags">
        <input id="edit-submit" type="submit" value="Update">
    </form>
</body>
</html>